/.python-version
# /pyproject.toml
/uv.lock
.venv/

*.pyc
__pycache__/
instance/
.pytest_cache/
htmlcov/
coverage.xml
*.log
*.db
images/

.env
.DS_Store
schema.sql
uv.lock
pyproject.toml
tests/
test-requirements.txt
pytest.ini