<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr />

        <label for="name"><b>Name</b></label>
        <input
          type="text"
          placeholder="Enter your Name"
          name="name"
          id="name"
          required
        />

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter your email"
          name="email"
          id="email"
          required
        />

        <label for="phone_number"><b>Phone number</b></label>
        <input
          type="number"
          placeholder="Enter your phone_number"
          name="phone_number"
          id="phone_number"
          required
        />
        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter your password"
          name="password"
          id="password"
          required
        />

        <label for="role"><b>Role</b></label>
        <select name="role" id="role">
          <option value="trader">Trader</option>
          <option value="carrier">Carrier</option>
        </select>
        <hr />

        <p>
          By creating an account you agree to our
          <a href="#">Terms & Privacy</a>.
        </p>
        <div class="forCarrier" style="display: none">
          <label for="company_name"><b> Company Name</b></label>
          <input
            type="text"
            placeholder="Enter your company name"
            name="company_name"
            id="company_name"
          />
          <label for="licence_number"><b>Licence Number</b></label>
          <input
            type="text"
            placeholder="Enter your licence number"
            name="licence_number"
            id="licence_number"
          />
        </div>
        <button type="submit" class="registerbtn">Register</button>
      </div>

      <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
      </div>
    </form>

    <script>
      const form = document.querySelector('form[action="/register"]');
      const name = document.getElementById("name");
      const email = document.getElementById("email");
      const phone_number = document.getElementById("phone_number");
      const password = document.getElementById("password");
      const company_name = document.getElementById("company_name");
      const licence_number = document.getElementById("licence_number");

      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      const nameRegex = /^\w{3,}$/;
      const phone_numberRegex = /^\d{10}$/;

      function checkCarrier() {
        const divForCarrier = document.querySelector(".forCarrier");
        const roleSelect = document.querySelector('select[name="role"]');
        const selectedRole = roleSelect.value;

        if (selectedRole === "carrier") {
          divForCarrier.style.display = "block";
        } else {
          divForCarrier.style.display = "none";
        }
      }

      const roleSelect = document.querySelector('select[name="role"]');
      if (roleSelect) {
        roleSelect.addEventListener("change", checkCarrier);
      }

      if (form) {
        form.addEventListener("submit", function (event) {
          if (!emailRegex.test(email.value)) {
            event.preventDefault();
            alert("Please enter a valid email address.");
            return;
          }
          if (!nameRegex.test(name.value)) {
            event.preventDefault();
            alert("Name must be at least 3 characters long.");
            return;
          }
          if (password.value.length < 6) {
            event.preventDefault();
            alert("Password must be at least 6 characters long.");
            return;
          }
          if (!phone_numberRegex.test(phone_number.value)) {
            event.preventDefault();
            alert("Phone number must be 10 digits long.");
            return;
          }
        });
      }

      checkCarrier();
    </script>
  </body>
</html>
